div(class='store-pane' id='project-pane')
  each currentProject in projects
    div(class='project-store' + (currentProject == projects[0] ? ' active' : '') id='project-store-' + currentProject.name)
      h2= currentProject.fullName + ' 当前库存'
      if currentProject
        - var length = Math.ceil(currentProject.store.length / 3)
        - var totalLength = currentProject.store.length
        div(class='row')
          each i in [0, 1, 2]
            div(class='col-md-3')
              table(class='table')
                thead
                  tr
                    th 名称
                    th 规格
                    th 数量
                tbody
                  - var n = length * i;
                  while n < length * (i + 1) && n < totalLength - 2
                    - var storeItem = currentProject.store[n]
                    - n++
                    tr
                      td= storeItem.name
                      td= storeItem.size
                      td= storeItem.count
