
.App {
  height: 100%;
}

.App-drawer {
  /*background-color: red;*/

  padding-top: 50px;
  background-color: #222;
  color: white;
  width: 240px;
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.App-drawer a {
  color: white;
}

.App-drawer ul {
  padding-left: 1em;
}

.App-drawer li {
  list-style-type: none;
}

.App-content {
  margin-left: 240px;
  padding-right: 240px;
  padding-top: 50px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

@media print {
  .App-content {
    margin-left: 0;
  }
}

@media (max-width: 768px){
  .App-drawer {
    display: none;
    position: absolute !important;
    float: none;
    left: 0;
    top: 0;
    z-index: 999;
    width: 80%;
  }

  .App-drawer.show{
    display: block;
  }

  .App-content {
    margin-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .App-drawer-toggle {
    display: none;
  }
}

.App-drawer-toggle {
  /*display: none;*/
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background: black;
  border: 1px transparent solid;
  z-index: 999;
}