div(class='tab-pane' id='product-pane')
  table(class='table')
    thead
      tr
        th 类别
        th 名称
        th 单位
        th 规格
    tbody
      each productType in productTypes
        each size in productType.sizes
          tr
            td= productType.type
            td= productType.name
            td= productType.unit
            td= size

