extends layout

block content

  form(id='login-form', action='/login', method='post')
    if error
      div(class='alert alert-danger')
        p= error
    div(class='form-group')
      label 操作员账号
      input(class='form-control', name='username', id='username')
    div(class='form-group')
      label 操作员密码
      input(class='form-control', name='password', id='password' type='password')
    div
      button(class='btn btn-primary btn-block') 登录
