.App {
  height: 100%;
}

.header {
  color: #fff !important;
  background-color: #2196f3 !important;
}

.header .title {
  color: #fff;
  font-size: 2.0em;
  float: left;
}

.sider {
  background-color: #fff !important;
}

.content {
  height: 100% !important;
  overflow-y: auto !important;
}