extends ../layout

block content
  if info
    div(class='alert alert-info')
      p= info
  if error
    div(class='alert alert-danger')
      p= error
  div(class='row')
    div(class='col-md-2')
      ul(class='nav nav-pills nav-stacked' id='admin-tab')
        li(class='active')
          a(href='#user-pane' data-toggle='pill') 操作员管理
        li
          a(href='#project-pane' data-toggle='pill') 项目配置
    div(class='col-md-10')
      div(class='tab-content')
        include user-pane.pug
        include project-pane.pug
