extends ../layout

block content

  h2 创建发料单

  form(class='form-horizontal', action='create?step=1', method='post')
    div(class='form-group')
      label(class='col-sm-2 control-label') 承租单位
      // TODO 承租单位实现下拉菜单选择，可以输入拼音或者五笔来筛选
      div(class='col-sm-10')
        input(type='text', class='form-control', id='tenant', name='tenant', list='tenants', autocomplete='off')
        datalist(id='tenants')
          each val in tenants
            option= val
    div(class='form-group')
      label(class='col-sm-2 control-label') 工程项目
      // TODO 工程项目实现下拉菜单选择，可以输入拼音或者五笔来筛选
      div(class='col-sm-10')
        input(type='text', class='form-control', id='project', name='project', list='projects', autocomplete='off')
        datalist(id='projects')
          each val in projects
            option= val
    div(class='form-group')
      label(class='col-sm-2 control-label') 日期
      div(class='col-sm-10')
        input(type='date', class='form-control', id='date', name='date')
    //div(class='form-group')
    //  label(class='col-sm-2 control-label') 车号
    //  div(class='col-sm-10')
    //    input(type='text', class='form-control', name='carNumber')
    // 运费暂时不处理
    //div(class='form-group')
    //  label(class='col-sm-2 control-label') 车费
    //  div(class='col-sm-10')
    //    input(type='text', class='form-control', placeholder='可不填，之后由系统自动生成', name='carFee')
    div
      button(class='btn btn-primary btn-block', id='order-create') 创建
    //div
    //  input(hidden=true, name='step', value='1')


