.datetext{
    font-size:18px;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
}
.datecontainer{
    background-color: #F6F6F6;
    padding:10px 30px;
    display: block;
}
.maincontainer{
    background-color: #F6F6F6;
    padding: 15px 24px 0;
    position: relative;

}
.defaulttime{
    font-size: 12px;
    padding-bottom: 15px;
}
.line{
    height: 1px;
    background-color: gray;
}
.signcontainer{
    padding: 24px 0;
    position: relative;
    font-size: 12px;
}

.towork{
    padding-bottom: 15px;
}

.signinbutton{
    background-color: #01CCFE;
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    cursor: pointer;
    position: static;
}
.signintext{
    text-align: center;
    color: #fff;
    width: 80px;
    position: absolute;
    top: 22px;
    font-size: 18px;
    margin-bottom: 2px;

}
.signtimetext{
    font-size: 10px;
}
.signaddition{
    width: 50%;
}