.notify-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.notify-item {
  width: 250px;
  margin: 10px;
  padding: 5px;
  color: #FFF;
}

.notify-item:hover {
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  font: 14px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px;
}

.notify-item.success {
  background-color: rgba(81, 163, 81, 0.8);
}

.notify-item.error {
  background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
  background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
  font-weight: 700;
}