html {
  height: 100%;
}

body {
  font: 14px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #fafafa;
}

#root {
  height: 100%;
}

.form-inline .form-group {
  margin-bottom: 1em;
  margin-right: 1em;
}

.form-inline .form-group label{
  margin-right: 1em;
}

.important-star {
  color: red;
}

.table--tight>tbody>tr>td,
.table--tight>tbody>tr>th,
.table--tight>tfoot>tr>td,
.table--tight>tfoot>tr>th,
.table--tight>thead>tr>td,
.table--tight>thead>tr>th {
  padding: 1px;
}

.row-sum {
  font-weight: 900;
  text-decoration: underline;
}

.table-clean>tbody>tr>td,
.table-clean>tbody>tr>th,
.table-clean>tfoot>tr>td,
.table-clean>tfoot>tr>th,
.table-clean>thead>tr>td,
.table-clean>thead>tr>th {
  border-top: 1px solid white;
}

.table-bottom-border>tbody>tr>td,
.table-bottom-border>tbody>tr>th,
.table-bottom-border>tfoot>tr>td,
.table-bottom-border>tfoot>tr>th,
.table-bottom-border>thead>tr>td,
.table-bottom-border>thead>tr>th {
  border-bottom: 1px solid black;
}

.cell-left-border {
  border-left: 1px solid black;
}

.cell-right-border {
  border-right: 1px solid black;
}

.table-top-border>thead>tr>th {
  border-top: 1px solid black;
}

.table-top-border>thead:first-child>tr:first-child>th {
  border-top: 1px solid black;
}

/* 作为表单的表格样式 */
.form-table th,
.form-table td {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

/* 运输单 */
.table__transport th {
  min-width: 5.5em;
}

.table__transport td {
  font-size: 11px;
}

.h-left-margin-1-em {
    margin-left: 1em;
}

.form-group {
  display: flex;
}

.col-md-1 {
  padding: 8px;
  flex-grow: 0;
  max-width: 8.3%;
  flex-basis: 8.3%;
}

.col-md-2 {
  padding: 8px;
  flex-grow: 0;
  max-width: 16.7%;
  flex-basis: 16.7%;
}

.col-md-3 {
  padding: 8px;
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}

.col-md-4 {
  padding: 8px;
  flex-grow: 0;
  max-width: 33.3%;
  flex-basis: 33.3%;
}

.col-md-5 {
  padding: 8px;
  flex-grow: 0;
  max-width: 41.7%;
  flex-basis: 41.7%;
}

.col-md-6 {
  padding: 8px;
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

.col-md-7 {
  padding: 8px;
  flex-grow: 0;
  max-width: 58.3%;
  flex-basis: 58.3%;
}

.col-md-8 {
  padding: 8px;
  flex-grow: 0;
  max-width: 66.7%;
  flex-basis: 66.7%;
}

.col-md-10 {
  padding: 8px;
  flex-grow: 0;
  max-width: 83.3%;
  flex-basis: 83.3%;
}
.col-md-11 {
  padding: 8px;
  flex-grow: 0;
  max-width: 91.7%;
  flex-basis: 91.7%;
}

.col-md-12 {
  padding: 8px;
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.control-label {
  line-height: 30px;
  text-align: right;
  font-weight: 600;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tbody>tr>td {
	border: 1px solid black;
}

.hidden {
  display: none;
}

/*  隐藏表格中 Form.Item 的样式 */
.ant-table .ant-form-item-explain {
  display: none;
}

.ant-table .ant-form-item {
  margin-bottom: 0;
}

.ant-layout-header {
  padding: 0 16px !important;
}

.text-mask-input {
  width: 100%;
}