* {
  border-radius: 0 !important;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.form-inline .form-group {
  margin-bottom: 1em;
  margin-right: 1em;
}

.form-inline .form-group label{
  margin-right: 1em;
}
